    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> "site-nav"}}

    {{#page}}

    Inside page tag
    {{content}}

    {{/page}}

    This is about me! WRITTEN
  </body>
</html>
