{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="">
    {{@site.title}}
    {{> "site-nav"}}
    
</header>



{{!-- The main content area --}}
{{!-- <main id="site-main" class="site-main outer"> --}}
<!-- <main id="site-main" class="site-main outer"> -->
<main id="site-main" class="">

        <div class="post-feed">

            {{#foreach posts limit="6"}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}

            <div class="post-card-image-mini-wrapper">
              {{#get "posts" page=2 limit=6 as |minipost|}}
                {{#foreach minipost }}
                  {{> "post-minilist"}}
                {{/foreach}}
            {{/get}}

          </div>

        </div>


</main>
